<div class="menu-container" th:fragment="menu">
	<!-- <span>MENU</span> -->
	<th:block th:each="product, iStat : ${products}">
		<th:block
			th:if="${@menuHelper.checkIfDisplayCategoryName(products, iStat.index)}"
		>
			<th:block
				th:if="${iStat.index == 0}"
				th:utext="'&lt;div class=\'category-container ' + ${product.category.categoryName} + ' \'&gt;&lt;ul&gt;'"
			></th:block>
			<th:block
				th:if="${iStat.index gt 0}"
				th:utext="'&lt;/ul&gt;&lt;/div&gt;&lt;div class=\'category-container '+ ${product.category.categoryName} + ' \'&gt;&lt;ul&gt;'"
			></th:block>
			<h2
				th:class="'category-name small-title'"
				data-th-text="${product.category.categoryName}"
			></h2>
		</th:block>
		<li class="product-name">
			<span th:text="${product.productName}"></span>
			<span class="product-price" th:text="${product.productPrice} + ' €' "></span>
			<img class="picto-sm product-add-icon" tabindex="0" th:id="${product.productId}" src="/pictos/icon_plus.png" alt="Ajouter le produit dans le panier">
		</li>
	</th:block>
</div>