<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mon panier</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<header th:replace="~{/fragments/fragments :: header}"></header>

		<div class="main-container">
			<h1 class="main-title">Mon panier</h1>
			<div
				th:replace="~{/fragments/cart-fragment :: cart}"
				class="cart-container"
			></div>
		</div>
		<script src="/js/cart.js"></script>
	</body>
</html>
