<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Design System</title>
		<link rel="stylesheet" href="/utility.css" />
	</head>
	<body>
		<div class="color-container">
			<div class="primary-background">--primary-color</div>
			<div class="secondary-background">--secondary-color</div>
			<div class="valid-background">--valid-color</div>
			<div class="error-background">--error-color</div>
			<div class="warning-background">--warning-color</div>
		</div>
		<div class="button-container">
			<button class="button-sm">Button-sm</button>
			<button class="button">Button</button>
			<button class="button-l">Button-l</button>
			<button class="button-xl">Button-xl</button>
		</div>
		<div class="navigation-container">
			<a href="#" class="navigation-link active">navigation-link active</a
			><a href="#" class="navigation-link">navigation-link</a
			><a href="#" class="navigation-link">navigation-link</a
			><a href="#" class="navigation-link">navigation-link</a>
		</div>
		<div class="title-container">
			<h1 class="fancy-title">Fancy-title</h1>
			<h1 class="main-title">Main-title</h1>
			<h2 class="secondary-title">Secondary-title</h2>
			<h3 class="small-title">small-title</h3>
		</div>
		<div class="picto-container">
			<div class="picto-div">
				<p>picto-small img-secondary</p>
				<img
					src="/pictos/icon_person.png"
					alt=""
					class="picto-sm img-secondary"
				/>
			</div>
			<div class="picto-div">
				<p>picto img-primary</p>
				<img
					src="/pictos/icon_person.png"
					alt=""
					class="picto img-primary"
				/>
			</div>
			<div class="picto-div">
				<p>picto-l</p>
				<img src="/pictos/icon_person.png" alt="" class="picto-l" />
			</div>
			<div class="picto-div">
				<p>picto-xl</p>
				<img src="/pictos/icon_person.png" alt="" class="picto-xl" />
			</div>
		</div>
		<div class="avatar-container">
			<div class="avatar-div">
				<p>avatar-sm</p>
				<img
					src="/pictos/avatar-male.png"
					alt=""
					class="avatar-sm avatar"
				/>
			</div>
			<div class="avatar-div">
				<p>avatar-m</p>
				<img
					src="/pictos/avatar-male.png"
					alt=""
					class="avatar-m avatar"
				/>
			</div>
			<div class="avatar-div">
				<p>avatar-l</p>
				<img
					src="/pictos/avatar-male.png"
					alt=""
					class="avatar-l avatar"
				/>
			</div>
			<div class="avatar-div">
				<p>avatar-xl</p>
				<img
					src="/pictos/avatar-male.png"
					alt=""
					class="avatar-xl avatar"
				/>
			</div>
		</div>
	</body>
</html>
