<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ensemble des fragments</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<header th:fragment="header">
			<a href="/">
				<img
					src="/logos/logo_pizzeria.png"
					alt="Logo de pizza12"
					class="picto-xl"
				/>
			</a>
			<div class="right-header">
				<a href="/account">
					<img
						src="/pictos/icon_person.png"
						alt="Accéder à son compte"
						class="picto-l"
					/>
				</a>
				<a href="/cart">
					<img
						src="/pictos/icon_cart.png"
						alt="Accéder à son panier"
						class="picto-l"
					/>
				</a>
			</div>
		</header>
	</body>
</html>
