<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>Accueil</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<header th:replace="~{/fragments/fragments :: header}"></header>
		<div class="main-container">
			<h1 class="fancy-title">Notre menu</h1>
			<ul class="navigation-container">
				<li class="navigation-link active">Tout</li>
				<th:block th:each="category, iStat : ${categories}">
					<li class="navigation-link" th:text="${category}"></li>
				</th:block>
			</ul>
			<div th:replace="~{/fragments/menu :: menu}"></div>
		</div>
		<div th:replace="~{/fragments/cart-index :: cart-index}"></div>

		<footer th:replace="~{/fragments/fragments :: footer}"></footer>
		<script src="/js/menu.js"></script>
	</body>
</html>
