<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Liste des commandes</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<header th:replace="~{/fragments/fragments :: header}"></header>

		<div class="main-container">
			<h1 class="secondary-title">Liste des commandes en cours</h1>
			<div th:class="'order-stump '+ ${order.getOrderStateName()}" th:each="order : ${orderList}">
				<div class="order-stump-header"> <!-- OnClick enroule/déroule la liste des items (Le order-stump-content) -->
					<div class="order-title-container"><div class="order-title small-title" data-th-text="${@orderListHelper.displayOrderTitle(order)}" ></div>
					<div class="order-cancel"><img class="picto img-primary" src="/pictos/icon_forbidden.png" alt="ANNULER LA COMMANDE" title="ANNULER LA COMMANDE" /></div></div>
					<div class="order-time" data-th-text="${order.getDeliveryTime()}" ></div>
					<div class="order-elements" data-th-text="'(' + ${@orderListHelper.getRemainingItemCount(order)} + '/'+ ${@orderListHelper.getNonCancelledItemCount(order)} +' éléments restant' + ${@orderListHelper.getItemToDeliverCount(order)} + ${@orderListHelper.getCancelledItemCount(order)} + ')'" ></div>
					
				</div>
				<div th:id="${order.orderId}" class="order-stump-content">
					<div class="general-order-actions"><img id="4" class="picto" src="/pictos/icon_drink.png" />&nbsp;<img id="1" class="picto" src="/pictos/icon_entree.png" />&nbsp;<img id="2" class="picto" src="/pictos/icon_couverts.png" />&nbsp;<img id="3" class="picto" src="/pictos/icon_cake.png" /></div>
					<div th:class="'order-item cat-' + ${item.getOrderItem().getCategory().getCategoryId()} + ' ' + ${item.getOrderItemsStatus()}" th:each="item, iStat : ${order.getOrderItems()}">
						<!-- Utiliser item.getOrderItem().getProductId() -->
						<div class="quantity-management-container">
						<img class="picto-sm img-primary order-item-quantity-change order-item-quantity-decrease" src="/pictos/icon_substract.png" alt="Diminuer la quantité"><div class="order-item-quantity"><th:block data-th-text="${item.getOrderItemQuantity()}" /></div><img class="order-item-quantity-change order-item-quantity-increase picto-sm img-primary" src="/pictos/icon_add.png" alt="Augmenter la quantité">
						</div>
						<div class="order-item-name"><th:block data-th-text="${item.getOrderItem().getProductName()}" /></div>
						<div class="order-item-delete"><img class="picto img-primary" src="/pictos/icon_thrashcan.png" th:alt="'Annuler ' + ${item.getOrderItem().getProductName()}" th:title="'Annuler ' + ${item.getOrderItem().getProductName()}" /></div>
					</div>
				</div>
			</div>
			<script src="/js/listOrders.js"></script>
	</body>
</html>
