<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Liste des commandes</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<header th:replace="~{/fragments/fragments :: header}"></header>
		<div class="main-container">
			<h1 class="main-title">Liste des commandes en cours</h1>
			<div class="order-stump" th:each="order : ${orderList}">
				<div class="order-stump-title" data-th-text="${order.getOrderId()}"></div>
				<div class="order-stump-content">
					<div class="order-item" th:each="item, iStat : ${order.getOrderItems()}">
						<div class="order-item-quantity"><th:block data-th-text="${item.getOrderItemQuantity()}" /> x </div>
						<div class="order-item-name"><th:block data-th-text="${item.getOrderItem().getProductName()}" /></div>
						
					</div>
				</div>

			</div>
	</body>
</html>
