.cart-container {
    width: 75%;
}

h2 {
    justify-content: center;
}

.cart-list-header, .cart-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.cart-list-header {
    font-weight: 700;
}

.cart-list-item > span {
    width: 30%;
}

.button-cart-validation {
    display: flex;
    margin: 3rem auto;
}

.validation-modal {
    display: none;
    width: 30rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    background-color: #fff;
    padding: 5rem;
}

.validation-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

